// Variables
$black: #333;
$white: #fff;
$red: #FF0001;
$dark-red: #AD0001;
$dark-blue: #006991;

.hero {
  background-color: $dark-blue;
}
.hero-text {
  padding-top: 10%;
}
.hero-text-one {
  color: $white;
  font-size: 63px;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: -30px;
  text-shadow: 7px 7px 10px rgba(0, 0, 0, 0.6);
}
.hero-text-two {
  color: $white;
  font-size: 140px;
  display: block;
  text-transform: uppercase;
  margin-top: -77px;
  font-weight: bold;
  text-shadow: 7px 7px 10px rgba(0, 0, 0, 0.6);
}
.hero-cta {
  text-align: center;
  margin: 100px 0;
  a {
    color: $dark-red;
    background: rgba(255,255,255,0.5);
    text-transform: uppercase;
    font-size: 2rem;
    padding: 20px 40px;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 2px;
    font-weight: bold;
  }
}
